
.box {
    width: 200px;
    height: 200px;
    background-color:blue;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        background-color: blue;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: blue;
    }
}

.clock {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 100%;
    position: relative;
    animation-name: myclock;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.seconds {
    width: 100px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 98px;
    left: 100px;
}

@keyframes myclock {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
    
    
background-image: url(......);
display: block;
.mybotton: hover/active
background-position: -200px ;

background-size: %;  ////300%;   hover:-100%;
width: %;
transition: all 1s;
change the size of the box;
opacity: for transition images,
two images layered, and use opacity to do the transition.
use the position: absolute; opacity: 0-1