body {
    background-color: #be9e66;
    color: white;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 5px;
    font-family: futura, "times new roman", helvetica, arial, sans-serif;
    margin: 0;
}

p {
    color: orange;
    background-color: yellow;
    width: 300px;
    overflow: hidden;
    text-decoration: overline
}

.special {
    background-color: purple;
    color: black;
}
.ontop {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    border: 20px solid red;
}

.myheader {
    background-color: blue;
    color:green;
}

#myh1 {
    font-family: arial;
}

a {
    text-decoration: none;
    font-family: "times new roman";
}

.circle {
    background-color: blue;
    width: 100px;
    height: 100px;
    color: red;
    float: left;
    color: white;
    border-radius: 100%;
}

.wrapper {
    background-color: black;
    margin: 0 auto;
    width: 300px;
    font-size: 0;
}

.column {
    color: red;
    display: inline-block;
    padding: 0 auto;
    font-size: 20px;
    vertical-align: top;
}

.bottom {
    font-size: 40px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    background-color: lime;
    border-radius: 100%;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
}

background-image: url(......);
display: block;
.mybotton: hover/active
background-position: -200px ;
