h1 {
    background-color: #acaca9;
    color: black;
    font-family: Arial;
    font-size: 55px;
    letter-spacing: 3.2px;
    border: 20px #8f8f8f;
    border-style: solid;
    border-width: 30px;
    background-size: 300px 200px;
    margin: 1cm 24cm 1cm 0.95cm;

}

body {
    background-color: #d5d5d5;
    font-family: monospace; arial;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
    font-family: impact;
    letter-spacing: 2px;
    color: gray;
}

.middletop {
    background-color: #acaca9;
    font-family: monospace; arial;
    font-size: 20px;
    border: 20px #8f8f8f;
    padding: 50px;
    border-style: solid;
    border-width: 30px;
    margin: 0cm 6.5cm 0cm 6.5cm;
}

.topright {
    background-color: #acaca9;
    color: #acaca9;
    font-family: Arial;
    font-size: 55px;
    letter-spacing: 3.2px;
    border: 20px #8f8f8f;
    border-style: solid;
    border-width: 30px;
    background-size: 300px 200px;
    margin: -5.9cm 1cm 1cm 24cm;
}