body {
    background-color: black;
    font-family: impact;
    font-size: 30px;
    letter-spacing: 5px;
    color: gray;
    margin: 0;
}
p {
    color: white;
    font-family: "news times roman";
    letter-spacing: 2px;
    font-size: 20px;
    border: 300px;
    padding: 200px;
}

.special1 {
    background-color: black;
    position: fixed;
    bottom: 220;
    margin: 0 auto;
    z-index: 500;
    padding: 100px 2000px;
}

.special2 {
    background-color: black;
    position: fixed;
    top: 0;
    right: 100px;
    margin: 0 auto;
    z-index: 510;
    padding: 300px 50px;
}

.special3 {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 100px;
    margin: 0 auto;
    z-index: 520;
    padding: 300px 30px;
}

.special4 {
    background-color: black;
    position: fixed;
    bottom: -250;
    left: 350px;
    margin: 0 auto;
    z-index: 530;
    border-radius: 100%;
}

.special5 {
    background-color: black;
    position: fixed;
    top: -300;
    right: 350px;
    margin: 0 auto;
    z-index: 540;
    border-radius: 100%;
}

.square img{
    width: 100%;
}

.square1 {
    width: 50%;
    margin-left: 0%;
    
}

.square2 {
    width: 50%;
    margin-left: 50%;
}

.square3 {
    width: 50%;
    margin-left: 0%;
}

.square4 {
    width: 50%;
    margin-left: 50%;
}

.square5 {
    width: 50%;
    margin-left: 0%;
}

a {
    text-decoration: none;
    color: gray;
    letter-spacing: 1px;
}