#navArrows {
    position: relative;
    width: 150px;
    height:150px;
    margin:100px auto 0;
    background: #333;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 20px;
}

.navigationArrow {
    width: 50px;
    height: 50px;
    line-height:  50px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    color: #222;
}

#up {
    left: 50%;
    margin-left: -25px;
}

#left, #right {
    top: 50%;
    margin-top: -25px;
}

#right {
    right: 20px;
    left: inherit;
}

#down {
    bottom: 20px;
    top: inherit;
    left: 50%;
    margin-left: -25px;
}

.box {
    height: 100px;
    width: 100px;
    background: black;
    color: white;
    border: solid 4px grey;
    line-height: 100px;
    margin-top: 250px;
    margin-left: 45%;
    opacity: 0.5;
    position: relative;
    border-radius: 50%;
}

.emoji {
    position: absolute;
    border: 0;
    width: 100%
}

body {
    background-color: purple;
}

a {
    font-size: 18px;
    font-family: helvetic;
    text-decoration: none;
    color: #D4AF37;
    margin-left: 20px;
    margin-top: 20px;
}